/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #b1d4e5;
    color: #fdfdfd;
    line-height: 1.6;
}

header {
    background: linear-gradient(to right,#00aee6, #123962);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 10; 
}

header img {
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #123962;
    color: #ffffff;
    transform: scale(1.05); /* Slightly enlarges on hover */
}

.main-content {
    padding: 20px;
}

section {
    padding: 60px 10%;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #E17564;
}

footer {
    text-align: center;
    padding: 25px;
    background-color: #b1d4e5;
    color: #000000;
}
